button,div,form,input {
	margin: 10px;
	font-family: 'VT323', monospace;
}

#hero-view {
	display: inline-table;
}

.image {
	display: block;
	float: bottom;
}

.rating {
	display: block;
	float: top;
}